*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#register{
    margin: auto;
    text-align: center;
    border: solid 1px ;
    height: 700px;
    width: 800px;
    background-color: rgb(155, 189, 178) ;
    display: block;
}
#register h1{
   text-align: center;
}
#register h1 label input{
   height: 50px;
   width: 90px;
   
}
input{
 display: block;
 margin-bottom: 20px;
}
#display{
    display: flex;
}
#checkbox{
    display: inline-block;
}
button{
    border-radius: 30px;
    width: 100px;
    height: 30px;
    color: white;
    background-color: blue;
}
button:hover{
    cursor: pointer;
    
}
#maincontainer{
    display: flex;
    margin: 60px;
}
#img1{
    background-image: url("images/imgstnd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
    

   

}
#imgtrans{
    background-color: rgba(62, 46, 206, 0.6);
    height: 700px;

}
#text{
   color: white;
}
#text h1{
    text-align: center;
    padding-top: 200px;
    font-size: 80px;
}
#text h1 p{
    text-align: center;
}
#sm ul li{
    position: absolute;
    top: 250px;
    position: fixed;
    
}
#livechat ul li{
    position: absolute;
    right: 0px;
}